@model LibraryManagement.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- Include Carousel here -->
@await Html.PartialAsync("_Carousel", Model.CarouselItems)

<div class="container mt-4">
   
    <h3 class="text-center mb-4">BESTSELLING BOOK</h3>

    <div class="row row-cols-lg-5 g-2">
        @foreach (var book in Model.Books)
        {
                <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@book.Avatar" class="card-img-top" alt="@book.Title">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Description</p>
                        <a href="@Url.Action("BookDetail", "Book", new { id = book.BookId })" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <nav aria-label="Page navigation example" style="display: flex; justify-content: center; margin-top: 20px">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
